.container-fluid {
    background: rgb(235, 80, 106);
    font-family: "PT Serif", serif;
}

body {
    background: rgb(136, 187, 19);
}

h5 {
    font-family: "Philosopher", sans-serif;
}

/* 

font-family: 'Roboto', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Cardo', serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Hind Vadodara', sans-serif;
font-family: 'Bad Script', cursive; 

*/
